/* ! importing poppins font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* ! all reset and reusable styles */
* {
	font-family: 'Poppins', sans-serif;
}
p {
	font-size: 14px;
}
section {
	margin-top: 80px;
}
.navbar-toggler {
	border: none;
}
.navbar-toggler:focus {
	box-shadow: none; /* making disable shadow from bootstrap */
}

.accordion-button:not(.collapsed) {
	color: #000;
	background-color: #fff;
	box-shadow: none;
}
.accordion-button:focus {
	box-shadow: none;
}
/* ! banner section */
.banner {
	min-height: 92vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 5rem;
}
.banner-1 {
	background-image: url(../images/banner-1.png);
}
.banner-2,
.banner-3,
.banner-4 {
	background-color: rgba(0, 0, 0, 0.535);
	background-blend-mode: overlay;
}
.banner-2 {
	background-image: url(../images/banner-2.jpg);
}
.banner-3 {
	background-image: url(../images/banner-3.jpg);
}
.banner-4 {
	background-image: url(../images/banner-4.jpg);
}
/* ! album section */
.fa-arrow-right {
	margin-left: 0.5rem;
}
.toast {
	top: -3.75rem;
	right: 0px;
	border: none;
	border-left: 0.5rem solid;
	width: 12rem;
	font-size: 0.6rem;
}
.toast img {
	width: 1rem;
}
/* ! price section */
.gj-card-title {
	color: #231d4f;
}
.gj-card-description {
	color: #848199;
	font-size: 0.8rem;
}
.gj-card-check {
	color: #231d4f;
	background: #84819943;
}
.gj-hot-card-description {
	font-size: 0.8rem;
}
.gj-hot-card-check {
	background-color: #edecf428;
}
.gj-card-btn {
	background-color: #f496d25d;
}
.gj-card-btn:hover {
	background-color: #f496d2;
	color: #fff !important;
}
.badge {
	right: 20px;
	font-size: 1rem;
}
.card.hot {
	bottom: 40px;
	background-image: url(../images/icons/watermark.svg);
	background-blend-mode: overlay;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
}
/* ! question section */

.question-img {
	width: 90%;
}
/* ! footer section */
footer {
	background-color: #000;
	color: #d9dbe1;
}
footer img {
	width: 150px;
	display: block;
}
@media only screen and (max-width: 576px) {
	.banner {
		background-position: -420px 0;
	}
}
@media only screen and (max-width: 992px) {
	.card.hot {
		bottom: 0px;
	}
	footer {
		text-align: center;
	}
}
